<div class="container-fluid">
		<div class="row">
      <div class="col-12">
        <div class="callout callout-info">
          <h5><i class="fas fa-info"></i> Note:</h5>
          Kindly noted that only submit order will consider for production
        </div>


        <!-- Main content -->
        <div *ngIf="branch" class="invoice p-3 mb-3">
          <!-- title row -->
          <div class="row">
            <div class="col-12">
              <h4>
                <i class="fas fa-globe"></i> {{ branch.client }} - {{ branch.arabic_client }}
                <small class="float-right">Date: {{ today | date:'longDate' }}</small>
              </h4>
            </div>
            <!-- /.col -->
          </div>
          <!-- info row -->
          <div class="row invoice-info border-bottom mb-3">
            <div class="col-sm-4 invoice-col">
              Branch
              <address>
                <strong>{{ branch.name }} - {{ branch.arabic_name }}</strong><br>
                {{ branch.district }}, {{ branch.city }}<br>
              </address>
            </div>
            <!-- /.col -->
            <div class="col-sm-4 invoice-col">
              User
              <address>
                <strong>{{ user.name }}</strong><br>                
                Email: {{ user.email }}
              </address>
            </div>
            <!-- /.col -->
            <div class="col-sm-4 invoice-col">
              <b>Last Time:</b> {{ branch.last_time_request }}:00<br>
              <b>Period:</b> {{ branch.due_period }} Days<br>
              <b>Due Date: </b> 
              <input 
					      type="date" value="{{dueDate}}" (input)="updateDue($event)" min="{{dueDate}}">

            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->

          <!-- Table row -->
          <div class="row mb-3">
            <div class="col-sm-12 table-responsive" style="height:420px">
            	<div class="row">
            		<div class="col-sm-4">
            			<input type="text" class="form-control" (input)="onSearchChange($event)" placeholder="Search">
            		</div>
            		<div class="col-sm-5 offset-3">
            			<form class="form-horizontal">
	              		<div class="form-group row">
	                    <label class="col-sm-4 col-form-label">Choose Category</label>
	                    <div class="col-sm-8">
												<ng-select [items]="productCategories"
												           bindLabel="name"
												           bindValue="id"
												           placeholder="Choose Category"
												           (change)="onStatusChange($event)">
												</ng-select>
	                    </div>
	                  </div>
	                </form>
            		</div>            		
            	</div>
              <table class="table table-striped">
                <thead>
                <tr>
                  <th>Code#</th>
                  <th>Product</th>
                  <th>Arabic</th>
                  <th>Price</th>
                  <th style="width: 10%;">Quantity</th>
                  <th></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let product of products">
                  <td>{{ product.client_code }}</td>
                  <td>{{ product.name }}</td>
                  <td>{{ product.name_ar }}</td>
                  <td>{{ product.price }}</td>
                  <td><input 
                          type="number"
                          class="form-control"
                          min="1"
                          #qtys
                          value="0" 
                          pattern="^[0-9]+\.[0-9][0-9]$"
                          >
                  </td>
                  <td>
                  	<button type="button" (click)="addToCart(product, qtys)" class="btn btn-sm btn-primary float-right"><i class="fas fa-shopping-cart"></i></button>
                  </td>
                </tr>                
                </tbody>
              </table>
            </div>
            <!-- /.col -->

          </div>
          <!-- /.row -->

        </div>
        <!-- /.invoice -->
        <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title">Cart</h3>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            
            <div class="table-responsive">
              <table class="table table-sm">
                <thead>
                  <tr>
                    <th>Code#</th>
                    <th>Name</th>
                    <th>Arabic</th>
                    <th style="width: 10%">Qty</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody *ngIf="carts">
                  <tr *ngFor="let item of carts.items">
                    <td>{{ item.client_code }}</td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.arabic_name }}</td>
                    <td>
                      <input 
                        type="number"
                        class="form-control"
                        min="1"
                        #qty
                        (change)="changeQty(item.id, qty)"
                        value="{{ item.qty }}" 
                        pattern="^[0-9]+\.[0-9][0-9]$"
                        >
                    </td>
                    <td>
                      <button (click)="removeItem(item.id)" type="button" class="btn btn-sm btn-danger float-right"><i class="fas fa-trash"></i></button>
                    </td>
                  </tr>
                  <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td colspan="2" style="width: 10%">Total Qty: {{ carts?.qty }}</td>
                    
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <!-- /.card-body -->

          <div class="card-footer">
            <a (click)="closeOrder()" class="btn btn-default pointer"><i class="fas fa-close"></i> Cancel</a>
            <button (click)="saveOrder(2)" type="button" class="btn btn-success float-right"><i class="fas fa-paper-plane"></i> Submit Order</button>
            <button (click)="saveOrder(1)" type="button" class="btn btn-primary float-right" style="margin-right: 5px;">
                <i class="fas fa-save"></i> Save Draft</button>
          </div>
        </div>
        <p *ngIf="!branch" class="text-center"><i class="fas fa-spinner fa-spin"></i></p>
      </div><!-- /.col -->
      
    </div>
    
</div>