<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <!-- Main content -->
      <div *ngIf="orders" class="mt-3 mb-3">
        <div class="row mb-1">
          <div class="col-md-3">
            <ng-select
              [items]="clients"
              bindLabel="name"
              bindValue="id"
              placeholder="Choose Client"
              (change)="onClientChange($event)"
            >
            </ng-select>
          </div>
          <div class="col-md-2">
            <input
              type="text"
              placeholder="Search"
              class="form-control"
              (input)="onSearchChange($event)"
            />
          </div>
          <div class="col-md-2">
            <ng-select
              [items]="status"
              bindLabel="name"
              bindValue="id"
              placeholder="Choose Status"
              (change)="onStatusChange($event)"
            >
            </ng-select>
          </div>
          <div class="col-md-2">
            <ng-select
              [items]="sortFilters"
              bindLabel="name"
              bindValue="id"
              placeholder="Sort by Qty"
              (change)="sortByField($event)"
            >
            </ng-select>
          </div>
          <div class="col-md-3">
            Choose Date:
            <input type="date" (input)="changeSelected($event)" />
          </div>
        </div>
        <!-- info row -->
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Orders</h3>

                <div class="card-tools">
                  <pagination-controls
                    (pageChange)="p = $event"
                    previousLabel=""
                    nextLabel=""
                  ></pagination-controls>
                </div>
              </div>
              <div class="card-body p-0">
                <table
                  class="table table-striped table-sm projects table-head-fixed"
                >
                  <thead>
                    <tr>
                      <th>Code#</th>
                      <th>Client</th>
                      <th>Branch</th>
                      <th>Order Date</th>
                      <th>Due Date</th>
                      <th>Status</th>
                      <th>Qty</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody *ngIf="orders.length > 0">
                    <tr
                      *ngFor="
                        let order of orders
                          | paginate: { itemsPerPage: 50, currentPage: p }
                      "
                    >
                      <td>{{ order.code }}</td>
                      <td>{{ getClient(order.branch.client_id).name }}</td>
                      <td>
                        {{ order.branch.code }} - {{ order.branch.name
                        }}<br />{{ order.branch.name_ar }}
                      </td>
                      <td>{{ order.date | date: "longDate" }}</td>
                      <td>{{ order.due_date | date: "longDate" }}</td>
                      <td>
                        <span
                          class="badge"
                          [class.bg-navy]="order.status_id == 6"
                          [class.bg-teal]="order.status_id == 7"
                          [class.bg-purple]="order.status_id == 8"
                          [class.badge-success]="order.status_id == 9"
                          [class.badge-primary]="order.status_id == 10"
                          [class.badge-warning]="order.status_id == 3"
                          [class.badge-success]="order.status_id == 4"
                          [class.badge-danger]="order.status_id == 5"
                        >
                          {{ getSatuts(order.status_id).name }}
                        </span>
                      </td>
                      <td>{{ order.qty }}</td>
                      <td
                        *ngIf="order.status_id < 9"
                        class="project-actions text-right"
                      >
                        <a
                          class="btn btn-primary btn-sm ml-1"
                          routerLink="/orders/view/{{ order.id }}"
                        >
                          <i class="fas fa-folder"></i>
                        </a>
                        <a
                          class="btn btn-info btn-sm ml-1"
                          routerLink="/orders/modify/{{ order.id }}"
                        >
                          <i class="fas fa-pencil-alt"></i>
                        </a>
                        <!-- <a
                          class="btn btn-danger btn-sm ml-1 pointer"
                          (click)="removeOrder(order.id)"
                        >
                          <i class="fas fa-trash"></i>
                        </a> -->
                      </td>
                      <td *ngIf="order.status_id >= 9">
                        <a
                          class="btn btn-primary float-right btn-sm"
                          routerLink="/orders/view/{{ order.id }}"
                        >
                          <i class="fas fa-folder"></i>
                        </a>
                      </td>
                    </tr>
                  </tbody>
                  <tbody *ngIf="orders.length < 1">
                    <tr>
                      <td colspan="7" class="text-center">
                        <h3>There is no orders</h3>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
          </div>
        </div>
      </div>
      <!-- /.invoice -->
      <p *ngIf="!orders" class="text-center">
        <i class="fas fa-spinner fa-spin"></i>
      </p>
    </div>
    <!-- /.col -->
  </div>
</div>
