<div class="container-fluid">
    <div class="row">
      <!-- left column -->
      <div class="col-md-6">
        <!-- Form Element sizes -->
        <div class="card">
            <div class="card-header ui-sortable-handle" style="cursor: move;">
              <h3 class="card-title">
                <i class="ion ion-clipboard mr-1"></i>
                District List
              </h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <ul *ngIf="districts && districts.length > 0" class="todo-list ui-sortable" data-widget="todo-list">
                <li *ngFor="let district of districts">
                  <span class="handle ui-sortable-handle">
                    {{ district.id }} - 
                  </span>
                  <!-- todo text -->
                  <span class="text">{{ district.name }} - {{ district.name_ar }} - {{ district.city.name }}</span>
                  <!-- Emphasis label -->
                  <!-- General tools such as edit or delete-->
                  <div class="tools">
                    <i class="fas fa-edit" (click)="editDistrict(district.id,district.name,district.name_ar, district.city_id)"></i>
                  </div>
                </li>
              </ul>
              <p *ngIf="districts && districts.length < 1">There is no Districts</p>
              <p *ngIf="!districts"><i class="fas fa-spinner fa-spin"></i></p>
            </div>
          </div>
      </div>
      
      <!--/.col (left) -->
      <!-- right column -->
      <div class="col-md-6">
        <!-- general form elements -->
        <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title">Create New District</h3>
          </div>
          <!-- /.card-header -->
          <!-- form start -->
          <form #districtForm="ngForm" (ngSubmit)="onSubmit(districtForm)">
            <div class="card-body">
              <div class="form-group">
                <label for="name">District*</label>
                <input 
                  type="text" 
                  class="form-control" 
                  id="name"
                  name="name" 
                  placeholder="English Name" 
                  required minlength="4"
                  [(ngModel)]="district.name" #name="ngModel"
          	      [class.is-invalid] = "name.invalid && (name.dirty || name.touched)">
              </div>
              <div class="form-group">
                <label for="name_ar">Arabic Name</label>
                <input 
                  type="text" 
                  class="form-control" 
                  id="name_ar" 
                  name="name_ar"
                  placeholder="Arabic Name"
                  [(ngModel)]="district.name_ar" #name="ngModel">
              </div>
              <div class="form-group">
                <label>Ciry *</label>
                <select *ngIf="cities" id="power" name="city" class="form-control"
                        required [(ngModel)]="district.city" #city="ngModel" >
                    <option *ngFor="let c of cities" [value]="c.id">{{c.name}}</option>
                </select>
                <p *ngIf="!cities"><i class="fas fa-spinner fa-spin"></i></p>
              </div>
            </div>
            <!-- /.card-body -->

            <div class="card-footer">
              <button type="submit" class="btn btn-primary" [disabled]="!districtForm.valid" [disabled]="loading">
                <span *ngIf="loading"><i class="fas fa-spinner fa-spin"></i></span> Submit
              </button>
              <button *ngIf="isUpdate" class="btn btn-info float-right" (click)="resetFrom(districtForm)"> Reset </button>
            </div>
          </form>
        </div>
        <!-- /.card -->         
      </div>
      <!--/.col (right) -->
    </div>
    <!-- /.row -->
  </div>