<div class="container-fluid">
    <div class="row">
      <!-- left column -->
      <div class="col-md-8">
        <!-- Form Element sizes -->
        <div class="card">
            <div class="card-header ui-sortable-handle" style="cursor: move;">
              <h3 class="card-title">
                <i class="ion ion-clipboard mr-1"></i>
                District List
              </h3>
              <div class="card-tools">
                <pagination-controls (pageChange)="p = $event" previousLabel=""
                nextLabel=""></pagination-controls>
              </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">              
              <table *ngIf="districts && districts.length > 0" class="table table-sm">
                <thead>
                  <tr>
                    <th style="width: 15%">Code</th>
                    <th>District Name</th>
                    <th>Arabic</th>
                    <th>City</th>
                    <th>Edit</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let district of districts | paginate: { itemsPerPage: 10, currentPage: p }">
                    <td>{{ district.code }}</td>
                    <td>{{ district.name }}</td>
                    <td>{{ district.name_ar }}</td>
                    <td>{{ district.city.name }}</td>
                    <td><i class="fas fa-edit text-danger pointer" (click)="editDistrict(district.id,district.name,district.name_ar, district.city_id, district.code)"></i></td>
                  </tr>
                  <tr *ngIf="districts && districts.length < 1">
                    <td colspan="5"><h2>There is no Districts</h2></td>
                  </tr>
                </tbody>
              </table>
              <p *ngIf="!districts"><i class="fas fa-spinner fa-spin"></i></p>
            </div>
          </div>
      </div>
      
      <!--/.col (left) -->
      <!-- right column -->
      <div class="col-md-4">
        <!-- general form elements -->
        <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title">Create New District</h3>
          </div>
          <!-- /.card-header -->
          <!-- form start -->
          <form #districtForm="ngForm" (ngSubmit)="onSubmit(districtForm)">
            <div class="card-body">
              <div class="form-group">
                <label for="code">Code*</label>
                <input 
                  type="text" 
                  class="form-control" 
                  id="code"
                  name="code" 
                  required minlength="4"
                  [(ngModel)]="district.code" #code="ngModel"
          	      [class.is-invalid] = "code.invalid && (code.dirty || code.touched)">
              </div>
              <div class="form-group">
                <label for="name">District*</label>
                <input 
                  type="text" 
                  class="form-control" 
                  id="name"
                  name="name" 
                  placeholder="English Name" 
                  required minlength="4"
                  [(ngModel)]="district.name" #name="ngModel"
                  [class.is-invalid] = "name.invalid && (name.dirty || name.touched)">
              </div>
              <div class="form-group">
                <label for="name_ar">Arabic Name</label>
                <input 
                  type="text" 
                  class="form-control" 
                  id="name_ar" 
                  name="name_ar"
                  placeholder="Arabic Name"
                  [(ngModel)]="district.name_ar" #name="ngModel">
              </div>
              <div class="form-group">
                <label>Ciry *</label>
                <select *ngIf="cities" id="power" name="city" class="form-control"
                        required [(ngModel)]="district.city" #city="ngModel" >
                    <option *ngFor="let c of cities" [value]="c.id">{{c.name}}</option>
                </select>
                <p *ngIf="!cities"><i class="fas fa-spinner fa-spin"></i></p>
              </div>
            </div>
            <!-- /.card-body -->

            <div class="card-footer">
              <button type="submit" class="btn btn-primary" [disabled]="!districtForm.valid" [disabled]="loading">
                <span *ngIf="loading"><i class="fas fa-spinner fa-spin"></i></span> Submit
              </button>
              <button *ngIf="isUpdate" class="btn btn-info float-right" (click)="resetFrom(districtForm)"> Reset </button>
            </div>
          </form>
        </div>
        <!-- /.card -->         
      </div>
      <!--/.col (right) -->
    </div>
    <!-- /.row -->
  </div>