<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <!-- Main content -->
      <div *ngIf="orders" class="mt-3 mb-3">
        <!-- info row -->
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Orders</h3>

                <div class="card-tools">
                  <button
                    type="button"
                    class="btn btn-tool"
                    data-card-widget="collapse"
                    title="Collapse"
                  >
                    <i class="fas fa-minus"></i>
                  </button>
                  <button
                    type="button"
                    class="btn btn-tool"
                    data-card-widget="remove"
                    title="Remove"
                  >
                    <i class="fas fa-times"></i>
                  </button>
                </div>
              </div>
              <div class="card-body p-0">
                <table class="table table-striped projects">
                  <thead>
                    <tr>
                      <th>Code#</th>
                      <th>Order Date</th>
                      <th>Due Date</th>
                      <th>Status</th>
                      <th>Total qty</th>
                      <th>Approved qty</th>
                      <th>Deliverd qty</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let order of orders">
                      <td>{{ order.code }}</td>
                      <td>{{ order.date | date: "longDate" }}</td>
                      <td>{{ order.due_date | date: "longDate" }}</td>
                      <td>
                        <span
                          class="badge"
                          [class.badge-success]="order.status_id == 9"
                          [class.badge-primary]="order.status_id == 10"
                        >
                          {{ order.status }}
                        </span>
                      </td>
                      <td>{{ order.qty }}</td>
                      <td>{{ order.approved }}</td>
                      <td>{{ order.delivered }}</td>
                      <td class="project-actions text-right">
                        <a
                          class="btn btn-primary btn-sm ml-1"
                          routerLink="/orders/view/{{ order.id }}"
                        >
                          <i class="fas fa-folder"></i>
                        </a>
                        <a
                          class="btn btn-info btn-sm ml-1"
                          routerLink="/orders/create/{{ order.code }}"
                        >
                          <i class="fas fa-copy"></i>
                        </a>
                      </td>
                    </tr>
                    <tr *ngIf="orders.length < 1">
                      <td colspan="7" class="text-center">
                        <h3>There is no orders</h3>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
          </div>
        </div>
      </div>
      <!-- /.invoice -->
      <p *ngIf="!orders" class="text-center">
        <i class="fas fa-spinner fa-spin"></i>
      </p>
    </div>
    <!-- /.col -->
  </div>
</div>
