<div class="container-fluid">
    <div class="row">
      <!-- left column -->
      <div class="col-md-8">
        <!-- Form Element sizes -->
        <div class="card">
            <div class="card-header">
              <h3 class="card-title">Products List</h3>
              <div class="card-tools">
                <pagination-controls (pageChange)="p = $event" previousLabel=""
                nextLabel=""></pagination-controls>
                <br>
                <form class="form-horizontal">
                  <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Search</label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control" (input)="onSearchChange($event)">
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body p-0">
              <p class="text-center" *ngIf="products && products.length < 1">There is no Products</p>
              <p *ngIf="!products" class="text-center"><i class="fas fa-spinner fa-spin"></i></p>
              <table *ngIf="products && products.length > 0" class="table table-sm">
                <thead>
                  <tr>
                    <th style="width: 10px">Code</th>
                    <th>Pool Code</th>
                    <th>Category</th>
                    <th>Name</th>
                    <th>Client Code</th>
                    <th>Price - VAT</th>
                    <th>Edit</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let product of products | paginate: { itemsPerPage: 10, currentPage: p }">
                    <td>{{ product.code }}</td>
                    <td>{{ product.pool_code }}</td>
                    <td>{{ product.category.name }}</td>
                    <td>{{ product.name }}<br>{{ product.name_ar }}</td>
                    <td>{{ product.client_code }}</td>
                    <td>{{ product.price }} - {{ product.vat }}</td>
                    <td><i class="fas fa-edit text-danger pointer" (click)="editProduct(
                                                          product.id, 
                                                          product.pool_code, 
                                                          product.code, 
                                                          product.category_id, 
                                                          product.name, 
                                                          product.name_ar, 
                                                          product.price,
                                                          product.vat, 
                                                          product.client_code,
                                                          product.packing_qty,
                                                          product.net_weight,
                                                          product.packing_dim,
                                                          product.pieces,
                                                          product.packing_id
                                                          )"></i></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- /.card-body -->
        </div>
      </div>
      
      <!--/.col (left) -->
      <!-- right column -->
      <div class="col-md-4">
        <!-- general form elements -->
        <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title">Create New Product</h3>
          </div>
          <!-- /.card-header -->
          <!-- form start -->
          <form #productForm="ngForm" (ngSubmit)="onSubmit(productForm)">
            <div class="card-body">
              <div class="form-group">
                <label for="name">Product Name*</label>
                <input 
                  type="text" 
                  class="form-control" 
                  id="name"
                  name="name" 
                  placeholder="English Name" 
                  required minlength="4"
                  [(ngModel)]="product.name" #name="ngModel"
          	      [class.is-invalid] = "name.invalid && (name.dirty || name.touched)">
              </div>
              <div class="form-group">
                <label for="name_ar">Arabic Name</label>
                <input 
                  type="text" 
                  class="form-control" 
                  id="name_ar" 
                  name="name_ar"
                  placeholder="Arabic Name"
                  [(ngModel)]="product.name_ar" #name_ar="ngModel">
              </div>
                <div class="row">
                    <div class="col-sm-6">
                        <!-- text input -->
                        <div class="form-group">
                            <label>Pool Code *</label>
                            <input type="text" class="form-control" name="pool_code" required
                            [(ngModel)]="product.pool_code" #pool_code="ngModel"
                            [class.is-invalid] = "pool_code.invalid && (pool_code.dirty || pool_code.touched)"
                            >
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Code# *</label>
                            <input type="text" class="form-control" name="code" required
                            [(ngModel)]="product.code" #code="ngModel"
                            [class.is-invalid] = "code.invalid && (code.dirty || code.touched)">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <!-- text input -->
                        <div class="form-group">
                            <label>Category *</label>
                            <select *ngIf="categories" id="power" name="category" class="form-control"
                                    required [(ngModel)]="product.category" #category="ngModel" >
                                <option *ngFor="let c of categories" [value]="c.id">{{c.name}}</option>
                            </select>
                            <p *ngIf="!categories"><i class="fas fa-spinner fa-spin"></i></p>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Price *</label>
                            <input type="text" class="form-control" name="price" required
                            [(ngModel)]="product.price" #price="ngModel"
                            [class.is-invalid] = "price.invalid && (price.dirty || price.touched)">
                        </div>
                    </div>                    
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>VAT *</label>
                            <input type="text" class="form-control" name="vat"
                            [(ngModel)]="product.vat" #vat="ngModel">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Client Code *</label>
                            <input type="text" class="form-control" name="client_code" required
                            [(ngModel)]="product.client_code" #client_code="ngModel"
                            [class.is-invalid] = "client_code.invalid && (client_code.dirty || client_code.touched)"
                            >
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Packing Qty</label>
                            <input type="text" class="form-control" name="packing_qty"
                            [(ngModel)]="product.packing_qty" #packing_qty="ngModel">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Net Weight</label>
                            <input type="text" class="form-control" name="net_weight"
                            [(ngModel)]="product.net_weight" #net_weight="ngModel"
                            >
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Packing DIM</label>
                            <input type="text" class="form-control" name="packing_dim"
                            [(ngModel)]="product.packing_dim" #packing_dim="ngModel">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Pieces</label>
                            <input type="text" class="form-control" name="pieces"
                            [(ngModel)]="product.pieces" #pieces="ngModel"
                            >
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Packing *</label>
                    <select *ngIf="packings" name="packing" class="form-control"
                            required [(ngModel)]="product.packing" #packing="ngModel" >
                        <option *ngFor="let pk of packings" [value]="pk.id">{{pk.name}}</option>
                    </select>
                    <p *ngIf="!packings"><i class="fas fa-spinner fa-spin"></i></p>
                </div>
                

            </div>
            <!-- /.card-body -->

            <div class="card-footer">
              <button type="submit" class="btn btn-primary" [disabled]="!productForm.valid" [disabled]="loading">
                <span *ngIf="loading"><i class="fas fa-spinner fa-spin"></i></span> Submit
              </button>
              <button *ngIf="isUpdate" class="btn btn-info float-right" (click)="resetFrom(productForm)"> Reset </button>
            </div>
          </form>
        </div>
        <!-- /.card -->         
      </div>
      <!--/.col (right) -->
    </div>
    <!-- /.row -->
  </div>