<div class="container-fluid">
  <!-- ./row -->
  <div class="row">
    <!-- /.col -->
    <div class="col-md-12">
      <!-- Application buttons -->
      <div class="card card-primary">
        <div class="card-header">
          <h3 class="card-title">Clients Coding</h3>
        </div>
        <div class="card-body">
          <a routerLink="/coding/clients" class="btn btn-lg btn-app">
            <i class="fas fa-edit"></i> Clients
          </a>
          <a routerLink="/coding/branches" class="btn btn-lg btn-app">
            <i class="fas fa-edit"></i> Branch
          </a>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
      <!-- Application buttons -->
      <div class="card card-danger">
        <div class="card-header">
          <h3 class="card-title">Application Coding</h3>
        </div>
        <div class="card-body">
          <a routerLink="/coding/category" class="btn btn-lg btn-app">
            <i class="fas fa-edit"></i> Product Categories
          </a>
          <a routerLink="/coding/products" class="btn btn-lg btn-app">
            <i class="fas fa-edit"></i> Products
          </a>
          <a routerLink="/coding/packings" class="btn btn-lg btn-app">
            <i class="fas fa-edit"></i> Packings
          </a>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
      <!-- Application buttons -->
      <div class="card card-warning">
        <div class="card-header">
          <h3 class="card-title">Area Coding</h3>
        </div>
        <div class="card-body">
          <a routerLink="/coding/cities" class="btn btn-lg btn-app">
            <i class="fas fa-edit"></i> Cities
          </a>
          <a routerLink="/coding/districts" class="btn btn-lg btn-app">
            <i class="fas fa-edit"></i> Districts
          </a>
          <a routerLink="/coding/distributions" class="btn btn-lg btn-app">
            <i class="fas fa-edit"></i> Distributions
          </a>
          <a routerLink="/coding/cars" class="btn btn-lg btn-app">
            <i class="fas fa-edit"></i> Cars
          </a>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->

      <!-- Vertical grouping -->

      <!-- /.card -->

      <!-- Radio Buttons -->

      <!-- /.card -->
    </div>
    <!-- /.col -->
  </div>
  <!-- /. row -->
</div>
