<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <!-- Main content -->
      <div *ngIf="distributions" class="mt-3 mb-3">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Orders List for {{ selectedDate }}</h3>
                <div class="card-tools">
                  Choose Date:
                  <input
                    type="date"
                    value="{{ selectedDate }}"
                    (input)="changeSelected($event)"
                  />
                </div>
              </div>
              <!-- ./card-header -->
              <div class="card-body">
                <div *ngFor="let distribution of distributions">
                  <h4>
                    Distribution #
                    <span
                      >{{ distribution.code }} - {{ distribution.name }}</span
                    ><span class="float-right">{{ distribution.name_ar }}</span>
                  </h4>
                  <div *ngFor="let branch of distribution.branches">
                    <h5>Branch: {{ branch.name }}</h5>
                    <table class="table table-bordered table-hover">
                      <thead>
                        <tr>
                          <th>Code#</th>
                          <th>Order Date</th>
                          <th>Due Date</th>
                          <th>qty</th>
                          <th>Boxes</th>
                        </tr>
                      </thead>
                      <tbody *ngIf="branch.orders.length > 0">
                        <tr *ngFor="let order of branch.orders">
                          <td>{{ order.code }}</td>
                          <td>{{ order.date | date: "longDate" }}</td>
                          <td>{{ order.due_date | date: "longDate" }}</td>
                          <td>{{ order.productions }}</td>
                          <td>
                            <table class="table">
                              <tr>
                                <th>Code</th>
                                <th>Type</th>
                                <th>Qty</th>
                              </tr>
                              <tr *ngFor="let box of order.boxes">
                                <td>{{ box.code }}</td>
                                <td>{{ box.type }}</td>
                                <td>{{ box.qty }}</td>
                              </tr>
                            </table>
                            <p *ngIf="order.driver">
                              Approve By: <b>{{ order.driver }}</b>
                            </p>
                          </td>
                        </tr>
                      </tbody>
                      <tbody *ngIf="branch.orders.length < 1">
                        <tr>
                          <td colspan="7" class="text-center">
                            <h3>There is no orders</h3>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <!-- /.card-body -->
              <div class="card-footer">
                <button
                  *ngIf="canApprove && !hasDriver"
                  class="btn btn-success float-right mb-1"
                  (click)="driverApprove()"
                >
                  Approve Dispatch
                </button>
                <p *ngIf="!canApprove && hasDriver" class="float-right">
                  Dispatch alreay approved
                </p>
              </div>
            </div>
            <!-- /.card -->
          </div>
        </div>
      </div>
      <!-- /.invoice -->
      <p *ngIf="!distributions" class="text-center">
        <i class="fas fa-spinner fa-spin"></i>
      </p>
    </div>
    <!-- /.col -->
  </div>
</div>
