<div class="container-fluid">
    <div class="row">
      <!-- left column -->
      <div class="col-md-8">
        <!-- Form Element sizes -->
        <div class="card">
            <div class="card-header ui-sortable-handle" style="cursor: move;">
              <h3 class="card-title">
                <i class="ion ion-clipboard mr-1"></i>
                Distribution List
              </h3>
              <div class="card-tools">
                <pagination-controls (pageChange)="p = $event" previousLabel=""
                nextLabel=""></pagination-controls>
              </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <table *ngIf="distributions && distributions.length > 0" class="table table-sm">
                <thead>
                  <tr>
                    <th>Code</th>
                    <th>Name</th>
                    <th>Arabic</th>
                    <th>District</th>
                    <th>Edit</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let distribution of distributions | paginate: { itemsPerPage: 10, currentPage: p }">
                    <td>{{ distribution.code }}</td>
                    <td>{{ distribution.name }}</td>
                    <td>{{ distribution.name_ar }}</td>
                    <td>{{ distribution.district.name }}</td>
                    <td><i class="fas fa-edit text-danger pointer" (click)="editDistribution(distribution.id,distribution.name,distribution.name_ar, distribution.code, distribution.district_id)"></i></td>
                  </tr>
                  <tr *ngIf="distributions && distributions.length < 1">
                    <td colspan="5"><h2>There is no Distributions</h2></td>
                  </tr>
                </tbody>
              </table>
              <p *ngIf="distributions && distributions.length < 1"></p>
              <p *ngIf="!distributions"><i class="fas fa-spinner fa-spin"></i></p>
            </div>
          </div>
      </div>
      
      <!--/.col (left) -->
      <!-- right column -->
      <div class="col-md-4">
        <!-- general form elements -->
        <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title">Create New Distribution</h3>
          </div>
          <!-- /.card-header -->
          <!-- form start -->
          <form #distributionForm="ngForm" (ngSubmit)="onSubmit(distributionForm)">
            <div class="card-body">
              <div class="form-group">
                <label for="name">Code*</label>
                <input 
                  type="text" 
                  class="form-control" 
                  id="code"
                  name="code"
                  required minlength="4"
                  [(ngModel)]="distribution.code" #code="ngModel"
          	      [class.is-invalid] = "code.invalid && (code.dirty || code.touched)">
              </div>
              <div class="form-group">
                <label for="name">Distribution*</label>
                <input 
                  type="text" 
                  class="form-control" 
                  id="name"
                  name="name" 
                  placeholder="English Name" 
                  required minlength="4"
                  [(ngModel)]="distribution.name" #name="ngModel"
                  [class.is-invalid] = "name.invalid && (name.dirty || name.touched)">
              </div>
              <div class="form-group">
                <label for="name_ar">Arabic Name</label>
                <input 
                  type="text" 
                  class="form-control" 
                  id="name_ar" 
                  name="name_ar"
                  placeholder="Arabic Name"
                  [(ngModel)]="distribution.name_ar" #name="ngModel">
              </div>
              <div class="form-group">
                <label>District *</label>
                <select *ngIf="districts" id="power" name="district" class="form-control"
                        required [(ngModel)]="distribution.district" #district="ngModel" >
                    <option *ngFor="let c of districts" [value]="c.id">{{c.name}}</option>
                </select>
                <p *ngIf="!districts"><i class="fas fa-spinner fa-spin"></i></p>
              </div>
            </div>
            <!-- /.card-body -->

            <div class="card-footer">
              <button type="submit" class="btn btn-primary" [disabled]="!distributionForm.valid" [disabled]="loading">
                <span *ngIf="loading"><i class="fas fa-spinner fa-spin"></i></span> Submit
              </button>
              <button *ngIf="isUpdate" class="btn btn-info float-right" (click)="resetFrom(distributionForm)"> Reset </button>
            </div>
          </form>
        </div>
        <!-- /.card -->         
      </div>
      <!--/.col (right) -->
    </div>
    <!-- /.row -->
  </div>