<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <!-- Main content -->
      <div *ngIf="orders" class="mt-3 mb-3">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Orders Review for {{ selectedDate }}</h3>
                <div class="card-tools">
                  Choose Date:
                  <input
                    type="date"
                    value="{{ selectedDate }}"
                    (input)="changeSelected($event)"
                  />
                </div>
              </div>
              <!-- ./card-header -->
              <div class="card-body">
                <form class="form-horizontal">
                  <div class="form-group row w-25">
                    <div class="col-sm-8">
                      <input
                        type="text"
                        placeholder="Search"
                        class="form-control"
                        (input)="onSearchChange($event)"
                      />
                    </div>
                  </div>
                </form>
                <table class="table table-bordered table-hover">
                  <thead>
                    <tr>
                      <th>Code</th>
                      <th>Branch</th>
                      <th>Order Date</th>
                      <th>Due Date</th>
                      <th>Qty</th>
                      <th>Approved Qty</th>
                      <th style="width: 5%">Action</th>
                    </tr>
                  </thead>
                  <tbody *ngFor="let order of orders; let o = index">
                    <tr>
                      <td>{{ order.code }}</td>
                      <td>{{ order.branch }}</td>
                      <td>{{ order.date | date: "longDate" }}</td>
                      <td>{{ order.due_date | date: "longDate" }}</td>
                      <td>{{ order.qty }}</td>
                      <td>{{ claculateApproveQty(order.products) }}</td>
                      <td>
                        <a
                          class="btn btn-app btn-sm bg-primary"
                          (click)="expandable(order.id)"
                        >
                          <i class="fas fa-edit"></i> Edit
                        </a>
                      </td>
                    </tr>
                    <tr *ngIf="tr == order.id">
                      <td colspan="6">
                        <table class="table table-bordered table-orders">
                          <tr>
                            <th>Code/Client Code</th>
                            <th>Name</th>
                            <th>Arabic Name</th>
                            <th>Qty</th>
                            <th>Approved Qty</th>
                            <th style="width: 5%">Action</th>
                          </tr>
                          <tr
                            *ngFor="
                              let product of order.products;
                              let p = index
                            "
                          >
                            <td>
                              {{ product.code }}<br />{{ product.client_code }}
                            </td>
                            <td>{{ product.name }}</td>
                            <td>{{ product.arabic_name }}</td>
                            <td>{{ product.qty }}</td>
                            <td style="width: 10%">
                              <input
                                type="number"
                                class="form-control"
                                min="0"
                                max="{{ product.qty }}"
                                #qtys
                                value="{{ product.pre_approve }}"
                                pattern="^[0-9]+\.[0-9][0-9]$"
                              />
                            </td>
                            <td>
                              <a
                                *ngIf="order.status_id == 3"
                                class="btn btn-app btn-sm bg-success"
                                (click)="
                                  saveOrder(
                                    product.id,
                                    order.id,
                                    qtys.value,
                                    product.qty,
                                    p,
                                    o
                                  )
                                "
                              >
                                <i class="fas fa-save"></i> Save
                              </a>
                              <span *ngIf="order.status_id != 3">{{
                                order.status
                              }}</span>
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
              <div class="card-footer">
                <button
                  *ngIf="canEdit"
                  class="btn btn-success float-right mb-1"
                  (click)="toProduction()"
                >
                  Approve and Submit to production
                </button>
              </div>
            </div>
            <!-- /.card -->
          </div>
        </div>
      </div>
      <!-- /.invoice -->
      <p *ngIf="!orders" class="text-center">
        <i class="fas fa-spinner fa-spin"></i>
      </p>
    </div>
    <!-- /.col -->
  </div>
</div>
