<div class="container-fluid">
    <div class="row">
      <!-- left column -->
      <div class="col-md-6">
        <!-- Form Element sizes -->
        <div class="card">
            <div class="card-header ui-sortable-handle" style="cursor: move;">
              <h3 class="card-title">
                <i class="ion ion-clipboard mr-1"></i>
                Client List
              </h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <ul *ngIf="clients && clients.length > 0" class="todo-list ui-sortable" data-widget="todo-list">
                <li *ngFor="let client of clients">
                  <span class="handle ui-sortable-handle">
                    {{ client.id }} - 
                  </span>
                  <!-- todo text -->
                  <span class="text">{{ client.name }} - {{ client.name_ar }}</span>
                  <!-- Emphasis label -->
                  <!-- General tools such as edit or delete-->
                  <div class="tools">
                    <i class="fas fa-edit" (click)="editClient(client.id,client.name,client.name_ar)"></i>
                  </div>
                </li>
              </ul>
              <p *ngIf="clients && clients.length < 1">There is no Clients</p>
              <p *ngIf="!clients"><i class="fas fa-spinner fa-spin"></i></p>
            </div>
          </div>
      </div>
      
      <!--/.col (left) -->
      <!-- right column -->
      <div class="col-md-6">
        <!-- general form elements -->
        <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title">Create New Client</h3>
          </div>
          <!-- /.card-header -->
          <!-- form start -->
          <form #clientForm="ngForm" (ngSubmit)="onSubmit(clientForm)">
            <div class="card-body">
              <div class="form-group">
                <label for="name">Client*</label>
                <input 
                  type="text" 
                  class="form-control" 
                  id="name"
                  name="name" 
                  placeholder="English Name" 
                  required minlength="4"
                  [(ngModel)]="client.name" #name="ngModel"
          	      [class.is-invalid] = "name.invalid && (name.dirty || name.touched)">
              </div>
              <div class="form-group">
                <label for="name_ar">Arabic Name</label>
                <input 
                  type="text" 
                  class="form-control" 
                  id="name_ar" 
                  name="name_ar"
                  placeholder="Arabic Name"
                  [(ngModel)]="client.name_ar" #name="ngModel">
              </div>
            </div>
            <!-- /.card-body -->

            <div class="card-footer">
              <button type="submit" class="btn btn-primary" [disabled]="!clientForm.valid" [disabled]="loading">
                <span *ngIf="loading"><i class="fas fa-spinner fa-spin"></i></span> Submit
              </button>
              <button *ngIf="isUpdate" class="btn btn-info float-right" (click)="resetFrom(clientForm)"> Reset </button>
            </div>
          </form>
        </div>
        <!-- /.card -->         
      </div>
      <!--/.col (right) -->
    </div>
    <!-- /.row -->
  </div>