<div class="container-fluid">
    <div class="row">
      <!-- left column -->
      <div class="col-md-8">
        <!-- Form Element sizes -->
        <div class="card">
            <div class="card-header ui-sortable-handle">
              <h3 class="card-title">
                <i class="ion ion-clipboard mr-1"></i>
                Client List
              </h3>
              <div class="card-tools">
                <pagination-controls (pageChange)="p = $event" previousLabel=""
                nextLabel=""></pagination-controls>
                <br>
                <form class="form-horizontal">
                  <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Search</label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control" (input)="onSearchChange($event.target.value)">
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body p-0">
              <p class="text-center" *ngIf="clients && clients.length < 1">There is no Clients</p>
              <p *ngIf="!clients" class="text-center"><i class="fas fa-spinner fa-spin"></i></p>
              <table *ngIf="clients && clients.length > 0" class="table table-sm">
                <thead>
                  <tr>
                    <th style="width: 10px">#</th>
                    <th>Client Name</th>
                    <th>Arabic</th>
                    <th>Categories</th>
                    <th>Contacts</th>
                    <th>Edit</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let client of clients | paginate: { itemsPerPage: 10, currentPage: p }">
                    <td>{{ client.id }}</td>
                    <td>{{ client.name }}</td>
                    <td>{{ client.name_ar }}</td>
                    <td><span *ngFor="let item of client.categories">{{ item.name }}, </span></td>
                    <td>{{client.com_reg}}<br>{{client.email}}<br>{{client.person}}</td>
                    <td><i class="fas fa-edit text-danger pointer" (click)="editClient(client.id,client.name,client.name_ar,client.category_ids, client.com_reg, client.email, client.person )"></i></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
      </div>
      
      <!--/.col (left) -->
      <!-- right column -->
      <div class="col-md-4">
        <!-- general form elements -->
        <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title">Create New Client</h3>
          </div>
          <!-- /.card-header -->
          <!-- form start -->
          <form #clientForm="ngForm" (ngSubmit)="onSubmit(clientForm)">
            <div class="card-body">
              <div class="form-group">
                <label for="name">Client*</label>
                <input 
                  type="text" 
                  class="form-control" 
                  id="name"
                  name="name" 
                  placeholder="English Name" 
                  required minlength="4"
                  [(ngModel)]="client.name" #name="ngModel"
          	      [class.is-invalid] = "name.invalid && (name.dirty || name.touched)">
              </div>
              <div class="form-group">
                <label for="name_ar">Arabic Name</label>
                <input 
                  type="text" 
                  class="form-control" 
                  id="name_ar" 
                  name="name_ar"
                  placeholder="Arabic Name"
                  [(ngModel)]="client.name_ar" #name_ar="ngModel">
              </div>
              <div class="row">
                  <div class="col-sm-6">
                      <!-- text input -->
                      <div class="form-group">
                          <label>Commercial Reg.</label>
                          <input type="text" class="form-control" name="com_reg"
                          [(ngModel)]="client.com_reg" #com_reg="ngModel">
                      </div>
                  </div>
                  <div class="col-sm-6">
                      <div class="form-group">
                          <label>Contact Person *</label>
                          <input type="text" class="form-control" name="person"
                          [(ngModel)]="client.person" #person="ngModel">
                      </div>
                  </div>
              </div>
              <div class="form-group">
                <label for="email">Email</label>
                <input 
                  type="text" 
                  class="form-control" 
                  id="email" 
                  name="email"
                  [(ngModel)]="client.email" #email="ngModel">
              </div>
              <div class="row">
                  <div *ngFor="let category of categories; let i = index" class="col-sm-6">
                    <!-- checkbox -->
                    <div class="form-group clearfix">
                      <div class="icheck-primary d-inline">
                        <input 
                          type="checkbox" 
                          name="category"
                          id="id_{{category.id}}"
                          [value]="category.id"
                          [checked]="category.checked"
                          (change)="onChangeCategory($event, category)"
                        >
                        <label for="id_{{category.id}}">{{category.name}}</label>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
            <!-- /.card-body -->

            <div class="card-footer">
              <button type="submit" class="btn btn-primary" [disabled]="!clientForm.valid" [disabled]="loading">
                <span *ngIf="loading"><i class="fas fa-spinner fa-spin"></i></span> Submit
              </button>
              <button *ngIf="isUpdate" class="btn btn-info float-right" (click)="resetFrom(clientForm)"> Reset </button>
            </div>
          </form>
        </div>
        <!-- /.card -->         
      </div>
      <!--/.col (right) -->
    </div>
    <!-- /.row -->
  </div>