<div
  *ngIf="type == 'order' || type == 'orders' || type == 'boxes'"
  class="wrapper"
>
  <!-- Main content -->
  <section class="invoice pagebreak" *ngFor="let order of orders">
    <!-- title row -->
    <div class="row">
      <div class="col-12">
        <h3 class="page-header">
          EBS Ordering System.
          <small class="float-right"
            >Date: {{ today | date: "longDate" }}</small
          >
        </h3>
      </div>
      <!-- /.col -->
    </div>
    <!-- title row -->
    <div class="row">
      <div class="col-12">
        <h4 class="text-center">
          Work Sheet: {{ title }}
          <span *ngIf="selectedDay">{{ selectedDay | date: "longDate" }}</span>
        </h4>
      </div>
      <!-- /.col -->
    </div>
    <!-- info row -->
    <div *ngIf="order" class="row invoice-info mt-3 mb-3">
      <div class="col-sm-4 invoice-col">
        <address>
          <strong>Order# </strong>{{ order.code }}<br />
          <strong>Placed# </strong>{{ order.date | date: "longDate" }}<br />
          <strong>Due Date# </strong>{{ order.due_date | date: "longDate"
          }}<br />
        </address>
      </div>
      <!-- /.col -->
      <div class="col-sm-6 invoice-col">
        <address>
          <strong>Client# {{ order.client }}</strong
          ><br />
          <strong
            >Branch# {{ order.branch_code }} - {{ order.branch }} -
            {{ order.arabic_branch }}</strong
          ><br />
          <strong>Dustribution# {{ order.arabic_distribution }}</strong
          ><br />
        </address>
      </div>
      <!-- /.col -->
      <div class="col-sm-2 invoice-col text-right">
        <img
          src="assets/phpI4rSko.png"
          alt="EBS Logo"
          class="brand-image"
          height="100px"
        />
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->

    <!-- info row -->
    <div *ngIf="order" class="row invoice-info mt-3 mb-3">
      <div class="col-sm-6 invoice-col">
        <address>
          Total Boxes # {{ order.boxes.length }}<br />
          Total Product Approved # {{ order.products.length }}<br />
          Total Items Approved # {{ order.approved }}<br />
        </address>
      </div>
      <!-- /.col -->
      <div class="col-sm-6 invoice-col">
        <address>
          Total Product Dispatched # {{ order.products.length }}<br />
          Total Items Dispatched # {{ order.productions }}<br />
        </address>
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->

    <!-- Table row -->
    <div class="row">
      <div class="col-12 table-responsive">
        <table
          *ngIf="type == 'order' || type == 'orders'"
          class="table table-sm table-bordered"
        >
          <thead>
            <tr>
              <th>Code</th>
              <th>Product</th>
              <th>Arabic Name</th>
              <th>Qty Approved</th>
              <th>Qty Dispatched</th>
              <th>Qty Pending</th>
            </tr>
          </thead>
          <tbody
            *ngFor="
              let category of groupByArray(
                sortProducts(order.products),
                'category'
              )
            "
          >
            <tr class="text-bold">
              <td colspan="3" class="text-center">{{ category.key }}</td>
              <td>{{ totals(category.values, "qty_approved") }}</td>
              <td>{{ totals(category.values, "qty_production") }}</td>
              <td>
                {{
                  totals(category.values, "qty_approved") -
                    totals(category.values, "qty_production")
                }}
              </td>
            </tr>
            <tr *ngFor="let product of category.values">
              <td>{{ product.code }}</td>
              <td>{{ product.name }}</td>
              <td>{{ product.arabic_name }}</td>
              <td>{{ product.qty_approved }}</td>
              <td>{{ product.qty_production }}</td>
              <td>{{ product.qty_approved - product.qty_production }}</td>
            </tr>
          </tbody>
        </table>
        <table *ngIf="type == 'boxes'" class="table table-sm table-bordered">
          <thead>
            <tr>
              <th>Code</th>
              <th>Box Type</th>
              <th>Created by</th>
              <th>Products</th>
              <th>Items</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let box of order.boxes">
              <td>{{ box.code }}</td>
              <td>{{ box.type }}</td>
              <td>{{ order.dispatch }}</td>
              <td>{{ box.products.length }}</td>
              <td>{{ box.qty }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
    <dl class="row text-right" dir="rtl">
      <dt class="col-sm-4">اسم المستلم:</dt>
      <dd class="col-sm-8"></dd>
      <dt class="col-sm-4">التوقيع:</dt>
      <dd class="col-sm-8"></dd>
    </dl>
  </section>
  <!-- /.content -->
</div>
<div *ngIf="type == 'dispatch' || type == 'productions'" class="wrapper">
  <!-- Main content -->
  <section class="invoice">
    <!-- title row -->
    <div class="row">
      <div class="col-12">
        <h3 class="page-header">
          EBS Ordering System.
          <small class="float-right"
            >Date: {{ today | date: "longDate" }}</small
          >
        </h3>
      </div>
      <!-- /.col -->
    </div>
    <!-- title row -->
    <div class="row">
      <div class="col-12">
        <h4 class="text-center">
          Work Sheet: {{ title }}
          <span *ngIf="selectedDay">{{ selectedDay | date: "longDate" }}</span>
        </h4>
      </div>
      <!-- /.col -->
    </div>

    <!-- Table row -->
    <div class="row">
      <div class="col-12 table-responsive">
        <table class="table table-sm table-bordered">
          <thead>
            <tr>
              <th>Code</th>
              <th>Name</th>
              <th>Arabic Name</th>
              <th>Approved Qty</th>
              <th>Production Qty</th>
              <th>Pending Qty</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let product of products">
              <td>{{ product.code }}</td>
              <td>{{ product.name }}</td>
              <td>{{ product.arabic_name }}</td>
              <td>{{ claculateApproveQty(product.orders) }}</td>
              <td>
                {{ claculateProductionQty(product.orders) }}
              </td>
              <td>
                {{
                  claculateApproveQty(product.orders) -
                    claculateProductionQty(product.orders)
                }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </section>
  <!-- /.content -->
</div>
<div *ngIf="type == 'box'" class="wrapper">
  <section *ngIf="box" class="invoice">
    <hr class="box" />
    <div class="row">
      <div class="col-md-2">
        <img src="assets/phpI4rSko.png" alt="EBS Logo" class="brand-image" />
      </div>
      <div class="col-md-10">
        <address>
          Plot no.7c, 3rd Industrial investment zone,<br />Kattameya, Cairo,
          Egypt.<br />
          Mobile: <strong>(+2) 0100 675 3716</strong><br />
          Tel: <strong>+2 010 2666 6232/33/34/35</strong><br />
          <strong>+20225163158/175/157</strong><br />
          <strong>www.egyptbakerystores.com</strong><br />
        </address>
      </div>
    </div>
    <hr class="box" />
    <div class="row">
      <div class="col-md-4 text-center">
        <img
          width="100px"
          src="//upload.wikimedia.org/wikipedia/en/thumb/4/42/CostaLogo.svg/1200px-CostaLogo.svg.png"
          alt="Client Logo"
        />
      </div>
      <div class="col-md-4">
        <h5>
          <strong>{{ boxOrder.client }}</strong>
        </h5>
        <h5>
          <strong>{{ boxOrder.branch_code }} - {{ boxOrder.branch }}</strong>
        </h5>
        <h5>
          <strong>{{ boxOrder.arabic_branch }}</strong>
        </h5>
      </div>
      <div class="col-md-4">
        <h5>
          Path: <strong>{{ boxOrder.distribution }}</strong>
        </h5>
        <h5>
          Car: <strong>{{ boxOrder.car }}</strong>
        </h5>
        <h5>
          Order # <strong>{{ boxOrder.code }}</strong>
        </h5>
      </div>
    </div>
    <hr class="box" />
    <div class="row" style="min-height: 930px">
      <div class="col-md-12">
        <h4>Contains: {{ box.qty }} products</h4>
        <table class="table table-sm table-bordered">
          <thead>
            <tr>
              <th>Code #</th>
              <th>Client Code #</th>
              <th>Product</th>
              <th>Arabic Name</th>
              <th>Quantity</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let product of box.products">
              <td>{{ product.code }}</td>
              <td>{{ product.client_code }}</td>
              <td>{{ product.name }}</td>
              <td>{{ product.name_ar }}</td>
              <td>{{ product.pivot.qty }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <hr class="box" />
    <div class="row justify-content-center">
      <div class="col-md-4">
        <qrcode
          [qrdata]="box.code"
          [width]="128"
          [errorCorrectionLevel]="'M'"
        ></qrcode>
      </div>
      <div class="col-md-4">
        <ngx-barcode
          [bc-value]="box.code"
          [bc-display-value]="true"
        ></ngx-barcode>
      </div>
      <div class="col-md-4">
        <h1 class="text-center text-xxl">
          Pack: {{ boxPosition(box.id) + 1 }}/{{ boxOrder.boxes.length }}
        </h1>
      </div>
    </div>
    <hr class="box" />
  </section>
</div>
