<div class="container-fluid">
    <div class="row">
      <!-- left column -->
      <div class="col-md-8">
        <!-- Form Element sizes -->
        <div class="card">
            <div class="card-header ui-sortable-handle" style="cursor: move;">
              <h3 class="card-title">
                <i class="ion ion-clipboard mr-1"></i>
                Production List
              </h3>
              <div class="card-tools">
                <pagination-controls (pageChange)="p = $event" previousLabel=""
                nextLabel=""></pagination-controls>
              </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <table class="table table-sm">
                <thead>
                  <tr>
                    <th style="width: 15%">#</th>
                    <th>Name</th>
                    <th>Arabic</th>
                    <th>Edit</th>
                  </tr>
                </thead>
                <tbody *ngIf="productions && productions.length > 0">
                  <tr *ngFor="let production of productions | paginate: { itemsPerPage: 10, currentPage: p }">
                    <td>{{ production.id }}</td>
                    <td>{{ production.name }}</td>
                    <td>{{ production.name_ar }}</td>
                    <td><i class="fas fa-edit text-danger pointer" (click)="editProduction(production.id,production.name,production.name_ar)"></i></td>
                  </tr>
                  </tbody>
                  <tbody>
                    <tr *ngIf="productions && productions.length < 1">
                    <td colspan="4"><h2>There is no Production Lines</h2></td>
                  </tr>
                </tbody>
              </table>
              <p *ngIf="!productions"><i class="fas fa-spinner fa-spin"></i></p>
            </div>
          </div>
      </div>
      
      <!--/.col (left) -->
      <!-- right column -->
      <div class="col-md-4">
        <!-- general form elements -->
        <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title">Create New Production</h3>
          </div>
          <!-- /.card-header -->
          <!-- form start -->
          <form #productionForm="ngForm" (ngSubmit)="onSubmit(productionForm)">
            <div class="card-body">
              <div class="form-group">
                <label for="name">Production*</label>
                <input 
                  type="text" 
                  class="form-control" 
                  id="name"
                  name="name" 
                  placeholder="English Name" 
                  required minlength="4"
                  [(ngModel)]="production.name" #name="ngModel"
          	      [class.is-invalid] = "name.invalid && (name.dirty || name.touched)">
              </div>
              <div class="form-group">
                <label for="name_ar">Arabic Name</label>
                <input 
                  type="text" 
                  class="form-control" 
                  id="name_ar" 
                  name="name_ar"
                  placeholder="Arabic Name"
                  [(ngModel)]="production.name_ar" #name="ngModel">
              </div>
            </div>
            <!-- /.card-body -->

            <div class="card-footer">
              <button type="submit" class="btn btn-primary" [disabled]="!productionForm.valid" [disabled]="loading">
                <span *ngIf="loading"><i class="fas fa-spinner fa-spin"></i></span> Submit
              </button>
              <button *ngIf="isUpdate" class="btn btn-info float-right" (click)="resetFrom(productionForm)"> Reset </button>
            </div>
          </form>
        </div>
        <!-- /.card -->         
      </div>
      <!--/.col (right) -->
    </div>
    <!-- /.row -->
  </div>