<!-- Main Sidebar Container -->
<aside
  class="main-sidebar sidebar-dark-primary elevation-4"
  style="min-height: 1000px"
>
  <!-- Brand Logo -->
  <a href="/" class="brand-link">
    <img
      src="assets/phpI4rSko.png"
      alt="EBS Logo"
      class="brand-image elevation-3"
      style="opacity: 0.8"
    />
    <span class="brand-text font-weight-light">EBS Ordering System</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <!-- <div class="image">
          <img src="assets/dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
        </div> -->
      <div class="info">
        <a [routerLink]="['/users/profile']" class="d-block">{{
          user?.name
        }}</a>
      </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul
        class="nav nav-pills nav-sidebar flex-column"
        data-widget="treeview"
        role="menu"
        data-accordion="false"
      >
        <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
        <li *ngxPermissionsOnly="['coding']" class="nav-item">
          <a
            (click)="changeView('coding')"
            [class.active]="codingMenu"
            routerLink="/coding"
            class="nav-link"
          >
            <i class="nav-icon far fa-image"></i>
            <p>Coding</p>
          </a>
        </li>
        <li class="nav-item" [class.menu-open]="ordersMenu">
          <a
            (click)="changeView('orders')"
            [class.active]="ordersMenu"
            class="nav-link pointer"
          >
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>
              Orders
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview" [class.d-block]="ordersSub">
            <li class="nav-item">
              <a
                *ngxPermissionsOnly="['orders']"
                [routerLink]="['/orders/actives']"
                [class.active]="activesComp"
                class="nav-link"
              >
                <i class="far fa-circle nav-icon"></i>
                <p>Active Orders</p>
              </a>
            </li>
            <li class="nav-item">
              <a
                *ngxPermissionsOnly="['orders']"
                [routerLink]="['/orders/history']"
                [class.active]="historyComp"
                class="nav-link"
              >
                <i class="far fa-circle nav-icon"></i>
                <p>Orders History</p>
              </a>
            </li>
            <li *ngxPermissionsOnly="['review orders']" class="nav-item">
              <a
                [routerLink]="['/orders/reviews']"
                [class.active]="reviewsComp"
                class="nav-link"
              >
                <i class="far fa-circle nav-icon"></i>
                <p>Orders Review</p>
              </a>
            </li>
            <li *ngxPermissionsOnly="['review orders']" class="nav-item">
              <a
                [routerLink]="['/orders/review-branches']"
                [class.active]="reviewsBComp"
                class="nav-link"
              >
                <i class="far fa-circle nav-icon"></i>
                <p>Branches Orders Review</p>
              </a>
            </li>
            <li *ngxPermissionsOnly="['review orders']" class="nav-item">
              <a
                [routerLink]="['/orders/all']"
                [class.active]="allComp"
                class="nav-link"
              >
                <i class="far fa-circle nav-icon"></i>
                <p>All Orders</p>
              </a>
            </li>
            <!-- <li class="nav-item">
                <a href="assets/index3.html" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Dashboard v3</p>
                </a>
              </li> -->
          </ul>
        </li>
        <li
          *ngIf="permissionItems"
          class="nav-item"
          [class.menu-open]="productionsMenu"
        >
          <a
            (click)="changeView('productions')"
            [class.active]="productionsMenu"
            class="nav-link pointer"
          >
            <i class="nav-icon fas fa-chart-pie"></i>
            <p>
              Productions
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview" [class.d-block]="productionsSub">
            <li *ngxPermissionsOnly="['productions review']" class="nav-item">
              <a
                [routerLink]="['/orders/productions']"
                [class.active]="productionsComp"
                class="nav-link"
              >
                <i class="far fa-circle nav-icon"></i>
                <p>Active Productions</p>
              </a>
            </li>
            <li *ngFor="let production of productions" class="nav-item">
              <a
                *ngxPermissionsOnly="[production.slug + ' line']"
                [class.active]="productionComp == production.slug"
                routerLink="/orders/productions/{{ production.slug }}"
                class="nav-link"
              >
                <i class="far fa-circle nav-icon"></i>
                <p>{{ production.name }} Line</p>
              </a>
            </li>
          </ul>
        </li>
        <li
          class="nav-item"
          *ngxPermissionsOnly="['receive productions', 'packing orders']"
          [class.menu-open]="dispatchMenu"
        >
          <a
            (click)="changeView('dispatch')"
            [class.active]="dispatchMenu"
            class="nav-link pointer"
          >
            <i class="nav-icon fas fa-th"></i>
            <p>
              Dispatch
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview" [class.d-block]="dispatchSub">
            <li class="nav-item" *ngxPermissionsOnly="['receive productions']">
              <a
                [routerLink]="['/dispatch/production']"
                [class.active]="productionListComp"
                class="nav-link"
              >
                <i class="far fa-circle nav-icon"></i>
                <p>Production List</p>
              </a>
            </li>
            <li class="nav-item" *ngxPermissionsOnly="['packing orders']">
              <a
                [routerLink]="['/dispatch/list']"
                [class.active]="ordersListComp"
                class="nav-link"
              >
                <i class="far fa-circle nav-icon"></i>
                <p>Orders List</p>
              </a>
            </li>
          </ul>
        </li>
        <li
          class="nav-item"
          *ngxPermissionsOnly="['receive dispatch', 'receive orders']"
          [class.menu-open]="deliveryMenu"
        >
          <a
            (click)="changeView('delivery')"
            [class.active]="deliveryMenu"
            class="nav-link pointer"
          >
            <i class="nav-icon fas fa-shipping-fast"></i>
            <p>
              Delivery
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview" [class.d-block]="deliverySub">
            <li class="nav-item" *ngxPermissionsOnly="['receive dispatch']">
              <a
                [routerLink]="['/delivery/receive']"
                [class.active]="recevieCom"
                class="nav-link"
              >
                <i class="far fa-circle nav-icon"></i>
                <p>Receive Dispatches</p>
              </a>
            </li>
            <li class="nav-item" *ngxPermissionsOnly="['receive orders']">
              <a
                [routerLink]="['/delivery/receiving']"
                [class.active]="receivingCom"
                class="nav-link"
              >
                <i class="far fa-circle nav-icon"></i>
                <p>Receiving Orders</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item" [class.menu-open]="usersMenu">
          <a
            (click)="changeView('users')"
            [class.active]="usersMenu"
            class="nav-link pointer"
          >
            <i class="nav-icon fas fa-users"></i>
            <p>
              Users Management
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview" [class.d-block]="usersSub">
            <li class="nav-item">
              <a
                [routerLink]="['/users/profile']"
                [class.active]="profileComp"
                class="nav-link"
              >
                <i class="far fa-circle nav-icon"></i>
                <p>Profile</p>
              </a>
            </li>
            <li
              *ngxPermissionsOnly="['manage all users', 'manage users']"
              class="nav-item"
            >
              <a
                [routerLink]="['/users']"
                [class.active]="usersComp"
                class="nav-link"
              >
                <i class="far fa-circle nav-icon"></i>
                <p>Users</p>
              </a>
            </li>
            <li *ngxPermissionsOnly="['manage roles']" class="nav-item">
              <a
                [routerLink]="['/users/roles']"
                [class.active]="rolesComp"
                class="nav-link"
              >
                <i class="far fa-circle nav-icon"></i>
                <p>Roles</p>
              </a>
            </li>
            <li *ngxPermissionsOnly="['branches password']" class="nav-item">
              <a
                [routerLink]="['/users/branches']"
                [class.active]="branchesComp"
                class="nav-link"
              >
                <i class="far fa-circle nav-icon"></i>
                <p>Branches</p>
              </a>
            </li>
            <!-- <li class="nav-item">
                <a [routerLink]="['/orders/history']" [class.active]="historyComp" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Orders History</p>
                </a>
              </li>
              <li class="nav-item">
                <a [routerLink]="['/orders/reviews']" [class.active]="reviewsComp" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Orders Review</p>
                </a>
              </li> -->
            <!-- <li class="nav-item">
                <a href="assets/index3.html" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Dashboard v3</p>
                </a>
              </li> -->
          </ul>
        </li>
        <li class="nav-item" [class.menu-open]="reportsMenu">
          <a
            (click)="changeView('reports')"
            [class.active]="reportsMenu"
            class="nav-link pointer"
          >
            <i class="nav-icon fas fa-copy"></i>
            <p>
              Reports
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview" [class.d-block]="reportsSub">
            <li class="nav-item">
              <a
                [routerLink]="['/reports/orders']"
                [class.active]="ordersComp"
                class="nav-link"
              >
                <i class="far fa-circle nav-icon"></i>
                <p>Orders Details</p>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>
