<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div *ngIf="!canApprove" class="callout callout-info">
        <h5><i class="fas fa-info"></i> Note:</h5>
        Kindly noted that products are already approved
      </div>
      <!-- Main content -->
      <div class="mt-3 mb-3">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Productions Approval</h3>
                <div class="card-tools">
                  Choose Date:
                  <input
                    type="date"
                    value="{{ selectedDate }}"
                    (input)="changeSelected($event)"
                  />
                </div>
              </div>
              <!-- ./card-header -->
              <div class="card-body">
                <table
                  *ngIf="products"
                  id="table"
                  class="table table-bordered table-hover table-head-fixed"
                >
                  <thead>
                    <tr>
                      <th>Code/Client Code</th>
                      <th>Name</th>
                      <th>Arabic Name</th>
                      <th>Approved Qty</th>
                      <th>Production Qty</th>
                    </tr>
                  </thead>
                  <tbody *ngFor="let product of products; let p = index">
                    <tr>
                      <td>{{ product.code }}<br />{{ product.client_code }}</td>
                      <td>{{ product.name }}</td>
                      <td>{{ product.arabic_name }}</td>
                      <td>{{ claculateApproveQty(product.orders) }}</td>
                      <td style="width: 10%">
                        {{ claculateProductionQty(product.orders) }}
                      </td>
                    </tr>
                  </tbody>
                  <tbody *ngIf="products.length < 1">
                    <tr>
                      <td class="text-center" colspan="7">
                        <h2>No Products for Today</h2>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <p *ngIf="!products" class="text-center">
                  <i class="fas fa-spinner fa-spin"></i>
                </p>
              </div>
              <div class="card-footer">
                <button
                  *ngIf="canApprove"
                  class="btn btn-success float-right mb-1"
                  (click)="approveProductions()"
                >
                  Receive Products
                </button>
                <a
                  *ngIf="products && products.length > 0"
                  [routerLink]="['/print/dispatch/' + selectedDate]"
                  target="_blank"
                  class="btn btn-default pointer"
                >
                  <i class="fas fa-print"></i> Print
                </a>
              </div>
            </div>
            <!-- /.card -->
          </div>
        </div>
      </div>
      <!-- /.invoice -->
    </div>
    <!-- /.col -->
  </div>
</div>
